<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <style>
        table {
            width: 500px;
            border: 1px solid greenyellow;
            margin: auto;
        }
        tr {
            text-align: center;
        }
        </style>
</head>
<body>
<div>
    <h2 align="center">Банковские транзакции</h2>
    <tr>
        <div align = "center">
            <div align = "center" >


                <table class="table">
                    <tr>
                        <th>Номер транзакции</th>
                        <th>Имя аккаунта</th>
                        <th>Транзакция</th>
                        <th>Сумма транзакции</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="bank : ${listbank}">
                        <td th:text="${bank.id}">Номер транзакции</td>
                        <td th:text="${bank.accountName}">Имя аккаунта</td>
                        <td th:text="${bank.transaction}">Транзакция</td>
                        <td th:text="${bank.amount}">Сумма транзакции</td>
                        <td>
                            <a th:href="@{'/delete/' + ${bank.id}}">Удалить</a>
                        </td>
                    </tr>

                    </tbody>
                </table>


            </div>

        </div>

    </tr>

    </tbody>
    </table>
    <div>
</body>
</html>